body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
}


.app-toolbar-div {
  position: sticky;
}

.feed-toolbar-list{
  display: flex;
  flex-direction: column;
}

.tool-bar-option-tooltip:hover{
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.225);
  padding: 10px;
  flood-opacity: 5%;
  transition: ease-in-out;
  
}

.tool-bar-option-tooltip{
  padding: 10px;
  width: fit-content;
}

.tool-bar-option-div {
  display: flex;
  align-items: center;
  
}

.home-page-div {
  display: flex;
}

.home-page-header-div {
  position: sticky;
}

.user-post-div {
  width: 600px;
}

.user-post-reply-div {
  display: flex;
}