body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
}


.app-toolbar-div {
  position: sticky;
}

.feed-toolbar-list{
  display: flex;
  flex-direction: column;
}

.tool-bar-option-tooltip:hover{
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.225);
  padding: 10px;
  flood-opacity: 5%;
  transition: ease-in-out;
  
}

.tool-bar-option-tooltip{
  padding: 10px;
  width: fit-content;
}

.tool-bar-option-div {
  display: flex;
  align-items: center;
  
}

.user-post-div {
  width: 600px;
}

.user-post-reply-div {
  display: flex;
}

.messages-page-div {
  display: flex;
}

/* Page Header */

.page-header {
  position: absolute;
  position: fixed;
}

.home-page-div {
  display: flex;
}

.home-page-header-div {
  position: fixed;
  width: 595px;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.911);
  outline: 1px solid lightgray;
  z-index: 9; /* sends the div to the front of the page to cover other divs and components */
  
}

/* Post */

.post-div {
  outline: 1px solid lightgray;
  display: flex;
  width: 575px;
  padding: 10px;
}


.post-div:hover {
  background-color: rgb(248, 247, 247);
  cursor: pointer;
}


.post-content-wrapper-div {
  width: inherit;
}

.post-header-div {
  
  display: flex;
  justify-content: space-between;
}

.post-header-details-div {
  display: flex;
}

.post-display-name {
  font-size: large;
  margin: 7px;
  margin-top: 0px;
}

.post-user-name {
  font-size: large;
  margin: 7px;
  margin-left: 4px;
  margin-top: 0px;
}

.post-time-stamp-separator {
  font-size: large;
  margin: 2px;
  margin-top: 0px;
}

.post-time-stamp {
  margin: 2px;
  margin-top: 0px;
  font-size: large;
}

.post-settings-button{
  display: flex;
}

.post-content {
  margin: 7px;
  margin-top: 0px;

}

.post-tools-div {
  display: flex;
  justify-content: space-around;
  color: grey;
  margin-left: -50px;
  margin-right: 60px;
}

.post-reply-tooltip{
  padding: 5px;
}

.post-reply-tooltip:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(255, 238, 3, 0.301);
  padding: 5px;
  flood-opacity: 5%;
  transition: ease-in-out;
}


.post-repollinate-tooltip{
  padding: 5px;
}

.post-repollinate-tooltip:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(3, 255, 37, 0.116);
  padding: 5px;
  flood-opacity: 5%;
  transition: ease-in-out;
}

.post-like-tooltip{
  padding: 5px;
}

.post-like-tooltip:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(255, 3, 3, 0.116);
  padding: 5px;
  flood-opacity: 5%;
  transition: ease-in-out;
}

.post-tools-div svg {
  width: 20px;
  height: auto;
}

.post-like-icon:hover {
  color: red;
}

.post-repollinate-icon:hover {
  color: green;
}

/* color grey here is for the settings button */
.post-reply-icon {
  color: grey;
}

.post-reply-icon:hover {
  color: black;
}


/* Create Post Section */

.create-post-div {
  display: flex;
  outline: 1px solid lightgray;
  margin-top: 76px;
}

.create-post-avatar {
  margin-left: 9px;
  margin-top: 10px;
}

.create-post-content-div {
  margin-left: 5px;
  margin-top: 10px;
}

.create-post-text-field {
  width: 541px;
  
}

.create-post-tools-div {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  color: black;
}

.create-post-tools-div button {
  background-color: gold ;
  text-shadow: 1px 0 5px #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  text-transform: none;
  font-size: large;
}

.create-post-tools-div button:hover {
  background-color: goldenrod;
}

.button-inner-icon {
  filter: 
    drop-shadow(-1px -1px 0px #000)
    drop-shadow(1px -1px 0px #000)
    drop-shadow(-1px 1px 0px #000)
    drop-shadow(1px 1px 0px #000);
}

.create-post-attachment-tooltip {
  margin-top: 5px;
}

/* Profile page section */

.profile-page-header-div {
  display: flex;
  align-items: center;
  z-index: 9;
  outline: 0px;
}

.profile-details-div {
  margin-top: 76px;
}

.profile-details-profile-picture-and-button-div {
  display: flex;
  justify-content: space-between;
}

.profile-details-button-div {
  margin-right: 20px;
}

.profile-details-profile-information-div {
  margin-left: 10px;
}


.profile-details-display-name-div {
  display: flex;
  align-items: center;
}

.profile-details-display-name {
  margin-right: 10px;
}

.profile-details-username {
  margin: 0px;

}

.profile-details-bio-div {
  display: flex;
  width: 595px;
}


.profile-details-member-since-div {
  display: flex;
  align-items: center;
  
}


.profile-details-follower-numbers-div {
  display: flex;
  margin-top: -40px;
  margin-bottom: -20px;
}

.followers-label {
  font-weight: lighter;
  font-size: 15px;
  margin-right: 20px;
}

.follow-button {
  text-transform: none;
  color: white;
  background-color: #000; 
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 15px;
  border: 0px;
}

.follow-button:hover {
  background-color: #181818;
  cursor: pointer;
}

.edit-profile-button {
  color: #000;
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.edit-profile-button:hover {
  background-color: rgba(128, 128, 128, 0.192);
}

/* Messages section */

.conversation-toolbar-div {
  width: 700px;
  outline: 1px solid lightgrey;
  position: fixed;
  bottom: 0;
  z-index: 9;
  background-color: white;
}

.conversation-messages-div {
  display:flex;
  flex-flow: column nowrap;
  min-width: 100%;
  width: 700px;
}

.your-own-message-bubble {
  display: block;
  right: 0;
  padding: 10px;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(180deg, rgb(255, 217, 0),rgb(231, 150, 56));
  font-size: 20px;
  color: black;
  align-self: flex-end;
  max-width: 450px;
  margin-right: 20px;


  /* background-color: rgb(128, 81, 28); */
  /* outline: solid 2px #000; */
  /* text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black; */
}

.another-user-message-bubble {
  
  padding: 10px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(180deg, rgb(238, 238, 238),rgb(207, 206, 206));
  font-size: 20px;
  color: black;
  align-self: flex-start;
  max-width: 450px;
  margin-left: 20px;

  /* background-color: rgb(128, 81, 28); */
  /* outline: solid 2px #000; */
  /* text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black; */
}